
<div>
    <h3>Character Name: </h3>
</div>
<div>
    <p>Class and Level: </p>
    <p>Background:</p>
    <p>Player Name: </p>
    <p>Race: </p>
    <p>Alignment: </p>
</div>


<div>
    <div>
        <p>Strength</p>
        <p></p>
        <p></p>
    </div>
    <div>
        <p>Dexterity</p>
        <p></p>
        <p></p>
    </div>
    <div>
        <p>Constitution</p>
        <p></p>
        <p></p>
    </div>
    <div>
        <p>Intelligence</p>
        <p></p>
        <p></p>
    </div>
    <div>
        <p>Wisdom</p>
        <p></p>
        <p></p>
    </div>
    <div>
        <p>Charisma</p>
        <p></p>
        <p></p>
    </div>
</div>