<div class="row justify-space-between-md">
  <div class="character-card">
    <h2 class="page-title">New Character Creator</h2>
    <form class="form login-form">
      <div class="form-group" id="character-name">
        <label for="character-name">Character Name</label>
        <input class="form-input" type="text" />
      </div>
      <div class="form-group" id="race">
        <label for="race">Race:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dwarf" id="dwarf" value="option1" checked>
          <label class="form-check-label" for="Radio1">
            Dwarf
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Second default radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
          <label class="form-check-label" for="exampleRadios3">Third default radio
          </label>
        </div>
      <div class="form-group" id="archetype">
        <label for="archetype">Class:</label>
        <input class="form-input" type="radio" />
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dwarf" id="dwarf" value="option1" checked>
          <label class="form-check-label" for="Radio1">
            Dwarf
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Second default radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
          <label class="form-check-label" for="exampleRadios3">Third default radio
          </label>
        </div>
      </div>
      <div class="form-group" id="alignment">
        <label for="alignment">Alignment:</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox1
          </label>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Default checkbox2
          </label>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3">
            Default checkbox3
          </label>
        </div>
      </div>
      <div class="form-group" id="stat">
        <label for="stats">Stats:</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Default checkbox1
          </label>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Default checkbox2
          </label>
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3">
            Default checkbox3
          </label>
        </div>
      <div class="form-group" id="skill">
        <label for="skills">Skills:</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox1
            </label>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Default checkbox2
            </label>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
              Default checkbox3
            </label>
          </div>
      <div class="form-group" id="background">
        <label for="background">Background:</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox1
            </label>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Default checkbox2
            </label>
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
              Default checkbox3
            </label>
          </div>
      <div class="form-group" id="backstory">
        <label for="backstory">Backstory:</label>
        <textarea class="form-control" id="backstory" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" type="submit" id="character-submit">signup</button>
      </div>
    </form>
  </div>
</div>

{{!-- Need to get the correct src filepath --}}
<script src="/js/profile.js"></script> 
