@font-face {
    font-family: 'Mael';
    src: url("/assets/fonts/mael.woff2") format("woff2"),
         url("/assets/fonts/mael.woff") format("woff"),
         url("/assets/fonts/mael.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body div header h1 a {
    font-family: 'Mael', sans-serif;
}
body div main div div h2 {
    font-family: 'Mael', sans-serif;
}
body div main div h3 {
    font-family: 'Mael', sans-serif;
}
body div main div div h4 {
    font-family: 'Mael', sans-serif;
}
label {
    font-family: 'Mael', sans-serif;
}
button {
    font-family: 'Mael', sans-serif;
}

.mael {
    font-family: 'Mael', sans-serif;
}