.user-background {
    background-image: url("/assets/userbackground.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}
.profile-background {
    background-image: url("/assets/profilebackground.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}
.home-background {
    background-image: url("/assets/joinsigninbackground.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}

#charisma-stat, #strength-stat, #dexterity-stat, #constitution-stat, #intelligence-stat, #wisdom-stat{
    padding-right: 18px;
    padding-left: 5px
}

#backstory label {
    display: block;
    margin-bottom: 5px; /* Adjust the margin as needed */
}

#backstory textarea {
    width: 300px; /* Adjust the height as needed */
}

header{
    background-color: white;
    opacity: 60%;
}

.signup-card{
    color: yellow;
    @media screen {
        
    }
}

.login-card{
    color: yellow;
    
}


.character-box {

    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;

}

.bold {
    font-weight: bold;
}

.row {
    padding-left: 40px;
}


h2{
    color: yellow;
}

@media screen and (max-width: 768px) {
    
    
    .login-card {
      display: block;
      width: 40%;
      align-items: left;
      margin: 10px; 
      margin-right: 5px;
      padding: -20px;
    } 

    .signup-card {
        display: absolute;
        width: 40%;
        text-align: right; /* Align the content within .signup-card to the right */
        margin: 10px;
        margin-left: 425px;
        margin-right: 5px;
        padding: -20px;
    
    }
    
    div.login-card{
        margin-top: -10px;
    }

    div.signup-card{
        margin-top: -50px;
    }

    div.form-group{
        margin: 2px;
    }

    h2{
        margin-top: -10px;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Align form items to the right */
    }
    
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Align form labels and inputs to the right */
    }
    
    label {
        margin-right: 10px; /* Add space between label and input */
    }
    
    .form-input {
        width: 200px; /* Adjust the input width as needed */
    }
}
@media screen and (max-width: 576px) {

    .signup-card {
        display: absolute;
        width: 40%;
        text-align: right; /* Align the content within .signup-card to the right */
        margin: 10px;
        margin-left: 315px;
        margin-right: 5px;
        padding: -20px;
    
    }
}
@media screen and (max-width: 423px) {

    .signup-card {
        display: absolute;
        width: 40%;
        text-align: right; /* Align the content within .signup-card to the right */
        margin: 10px;
        margin-left: 215px;
        margin-right: 5px;
        padding: -20px;
    
    }
}