

.user-background {
    background-image: url("/assets/userbackground.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}
.profile-background {
    background-image: url("/assets/profilebackground.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}
.home-background {
    background-image: url("/assets/joinsigninbackground.jpg");
    position: inherit;
    background-size: 100vw 100%;
    background-repeat: no-repeat;
}

.character-form{
    display: flex;
    flex-wrap: wrap;
    background: rgb(237,237,237);
background: radial-gradient(circle, rgba(237,237,237,0.6587228641456583) 8%, rgba(224,255,0,0.8379945728291316) 78%);
    opacity: 90%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
    margin-left: -15px;
}


#character-submit{
    background-color: blue;
    color: white;
}

#archetype{
    padding-left: 5px;
}




#charisma-stat, #strength-stat, #dexterity-stat, #constitution-stat, #intelligence-stat, #wisdom-stat{
    padding-right: 18px;
    padding-left: 5px
}

header{
    background-color: white;
    opacity: 60%;
}

.signup-card{
    color: yellow;
    @media screen {
        
    }
}

.login-card{
    color: yellow;
    
}


.character-box {

    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;

}

.bold {
    font-weight: bold;
}

.row {
    padding-left: 40px;
}


h2{
    color: yellow;
    padding-top: 10px;
}

#character-submit{
    margin-top: 20px;
}

.form-label{
   color: rgb(0, 8, 255);
   font-weight:bold
}

@media screen and (max-width: 768px) {
    
    
    .login-card {
      display: block;
      width: 40%;
      align-items: left;
      margin: 10px; 
      margin-right: 5px;
      padding: -20px;
    } 

    .signup-card {
        display: absolute;
        width: 40%;
        text-align: right; /* Align the content within .signup-card to the right */
        margin: 10px;
        margin-left: 425px;
        margin-right: 5px;
        padding: -20px;
    
    }
    
    div.login-card{
        margin-top: -10px;
    }

    div.signup-card{
        margin-top: -50px;
    }

    div.form-group{
        margin: 2px;
    }

    h2{
        margin-top: -10px;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Align form items to the right */
    }
    
    .form-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Align form labels and inputs to the right */
    }
    
    label {
        margin-right: 10px; /* Add space between label and input */
    }
    
    .form-input {
        width: 200px; /* Adjust the input width as needed */
    }
}
@media screen and (max-width: 576px) {

    .signup-card {
        display: absolute;
        width: 40%;
        text-align: right; /* Align the content within .signup-card to the right */
        margin: 10px;
        margin-left: 315px;
        margin-right: 5px;
        padding: -20px;
    
    }
}
@media screen and (max-width: 423px) {

    .signup-card {
        display: absolute;
        width: 40%;
        text-align: right; /* Align the content within .signup-card to the right */
        margin: 10px;
        margin-left: 215px;
        margin-right: 5px;
        padding: -20px;
    
    }
}